[phases.setup]
nixPkgs = ["nodejs-18_x", "openssl"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npx prisma migrate deploy && (npx prisma db seed || echo 'Seed failed, continuing...') && node src/server.js"

